<div class="container mt-5">
    <div class="text-center mb-4">
      <h1 class="display-4">Bienvenido al Sistema de Gestión de Triaje</h1>
      <p class="lead">Registra y administra los pacientes de manera eficiente</p>
    </div>
  
    <div class="row justify-content-center">
      <!-- Tarjeta: Registrar Paciente -->
      <div class="col-md-5 mb-3">
        <div class="card shadow-sm tarjeta-uniforme">
          <div class="card-body text-center">
            <h5 class="card-title">Registrar Nuevo Paciente</h5>
            <p class="card-text">Haz clic aquí para registrar un nuevo paciente en el sistema.</p>
            <a routerLink="/paciente" class="btn btn-primary btn-lg">Registrar Paciente</a>
          </div>
        </div>
      </div>
  
      <!-- Tarjeta: Panel de Control -->
      <div class="col-md-5 mb-3">
        <div class="card shadow-sm tarjeta-uniforme">
          <div class="card-body text-center">
            <h5 class="card-title">Panel de Control</h5>
            <p class="card-text">Visualiza y gestiona los datos de los pacientes registrados.</p>
            <a routerLink="/panel-de-control" class="btn btn-success btn-lg">Ir al Panel de Control</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  